<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content>
    <div class="selecao-idade">
      <app-seletor-passageiro
        titulo="Adultos"
        subtitulo="(Acima de 12 anos)"
        [formControl]="getFormControl('adultos')"
      ></app-seletor-passageiro>
      <app-seletor-passageiro
        titulo="Crianças"
        subtitulo="(Entre 2 e 11 anos)"
        [formControl]="getFormControl('criancas')"
      ></app-seletor-passageiro>
      <app-seletor-passageiro
        titulo="Bebês"
        subtitulo="(Até 2 anos)"
        [formControl]="getFormControl('bebes')"
      ></app-seletor-passageiro>
    </div>
    <div class="selecao-categoria">
      <p><strong>Categoria</strong></p>
      <mat-chip-listbox aria-label="Seleção de passagens">
        <mat-chip-option
          value="economica"
          [selected]="form.get('tipo')?.value === 'economica'"
          (selectionChange)="alterarTipo($event)"
        >
          Econômica
        </mat-chip-option>
        <mat-chip-option
          value="executiva"
          [selected]="form.get('tipo')?.value === 'executiva'"
          (selectionChange)="alterarTipo($event)"
        >
          Executiva
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>
  <div mat-dialog-actions class="modal-actions">
    <button color="primary" mat-flat-button mat-dialog-close>BUSCAR</button>
  </div>
</section>
